@model ToDoApplication.Models.Entity.TaskEntity
@using ToDoApplication.Models.Enum
@{
    ViewData["title"] = "Edit Task Page";
}

<h4 class="mb-3 text-muted">Просмотр задачи</h4>
<form id="editTaskForm">
    <div class="mb-4">
        <label class="form-label">Название задачи</label>
        <input name="name" type="text" class="form-control" value="@Model.Name" />
    </div>
    <div class="mb-4">
        <label class="form-label">Приоритет задачи</label>
        <select name="priority" class="form-select mb-3" asp-items="Html.GetEnumSelectList<TaskPriority>()" >
            <option value="@Model.Priority" selected>@Model.Priority</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-lable">Описание задачи</label>
        <textarea name="description" type="text" class="form-control" rows="5" >@Model.Description</textarea>
    </div>
    <button class="btn btn-primary" id="editTask">Сохранить</button>
</form>

@section Scripts {
    <script>
        var taskId = @Model.Id;
        $("#editTask").on('click', function (e) {
            $.ajax({
                type: 'PUT',
                url: '@Url.Action("EditTask", "Task")',
                data: $('#editTaskForm').serialize(),
                success: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'Окей'

                    });
                    window.location.href = "@Url.Action("TaskView", "Task")" + String("/" + taskId);
                },
                error: function (response) {
                     Swal.fire({
                        title: 'Информация',
                        text: response.responseJSON.description,
                        icon: 'error',
                        confirmButtonText: 'Окей'
                     })
                }
            })
        });
    </script>
}